<div *ngIf="content; else loading">
  <div style="width: 90%; text-align: center; margin-top: 30%;">
  <font size="7"> Antes de continuar, necesitas rellenar los siguientes datos</font>
</div>
  <ion-card>
<form (ngSubmit)="olas()">
  <ion-input [(ngModel)]="repart.vehiculo" name="vehiculo" label="Vehiculo" type="text"label-placement="floating"></ion-input>
  <ion-input [(ngModel)]="repart.licencia_conducir" name="licencia_conducir" label="Licencia Conducir" type="text"label-placement="floating"></ion-input>
<ion-button  type="submit" style="--background:green; --border-radius: 10px; display: block;  margin: 20px; color: black;height: 50px;">Añadir Datos</ion-button>
<div *ngIf="errorMessage" class="error-message">
{{ errorMessage }}
</div>
</form>
</ion-card>
</div>
<ng-template #loading>

  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%; display: flex; justify-content: center; align-items: center;">
      <ion-col size="10" style="height: 80%;">
        <div id="map" style="height: 60%; width: 100%;"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <nav *ngIf="perso">
    <ion-button (click)="entregar()"> Entregar Pedido</ion-button>
  </nav>
  <ion-card>

    <div *ngFor="let p of pedidos">
      <ion-card>
      <div *ngFor="let c of p.pedidos">
        <p> {{c.producto}}  {{c.cantidad}}</p>
      </div>
      <ion-button (click)="MarcarRuta(p.direccion[0], p.direccion[1], p)"> aceptar encargo </ion-button>
    </ion-card>
    </div>
  </ion-card>
  </ng-template>

