<ion-content [fullscreen]="true" class="blannk" >
  <ion-card style="border-radius: 20px; background-color: #fffffff3 ; position: relative; top: 200px;">
  
    
    <ion-card-content>
  
      <nav >
        <form (ngSubmit)="register()">
          <nav style="display: flex; justify-content: space-between;">
     <div style="width: 49%;">
      <ion-input [(ngModel)]="nombre" name="email" label="nombre"  type="text"label-placement="floating"  placeholder="" required style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color: #0b206e;"></ion-input>
      </div>
      <div style="width: 49%;">
        <ion-input [(ngModel)]="apellido" name="apellido" label="apellido"  type="text"label-placement="floating"  placeholder="" required style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color: #0b206e;"></ion-input>
        </div>
      </nav>
      <nav style="display: flex; justify-content: space-between;">
        <div style="margin-top: 12.5%; width:25%; text-align: center;">
          <font size="6">+56</font>
        </div>
        <div style="margin-top: 10%; width:75%;">
          <ion-input [(ngModel)]="telefono" name="email" label="telefono"  type="number" label-placement="floating"  placeholder="" required style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color: #0b206e;"></ion-input>
          
          </div>
          
        </nav>
        <div style="margin-top: 10%;">
          <ion-input [(ngModel)]="email" name="email" label="Correo electrónico"  type="email"label-placement="floating"  placeholder="" required style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color: #0b206e;"></ion-input>
          </div>
      <div style="margin-top: 10%;">
      <ion-input [(ngModel)]="password" name="password" label="Contraseña" type="password"label-placement="floating"  placeholder="" required style="box-shadow: #0b206e 0px 3px 0px; border-radius: 10px; color: #0b206e;"></ion-input>
      </div>
    <ion-button  type="submit" style="--background:green; --border-radius: 10px; display: block;  margin: 20px; color: black;height: 50px;">Registrar</ion-button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
      </nav>
    </ion-card-content>
  </ion-card>
  <ion-card style="position: relative; top: 200px;">
  
    <ion-card-content style=" background-color: #fffffff3 ;">
      <h3 style="color: black;">Ya tienes cuenta <button [routerLink]="['/login']" style=" background-color: #fffffff3 ; color: #0037fc;"> Iniciar Sesion</button></h3>
    </ion-card-content>
  </ion-card>
  
  </ion-content>