<ion-content [fullscreen]="true" class="blannk" >
  <ion-card class="seg"><img  src="../../../assets/images/logo2.jpg" alt="" style="position: absolute;"></ion-card>   
     
     <ion-card  class="card-todo">
        <ion-card-content>
          <div style="margin-top: 40px;">
            <h1 style="margin: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black;">Bienvenido</h1>
          </div> 
            <nav >

          <label for="" style="margin: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; ">Correo Electronico</label>
            <div class="login-1">
              <div>
                <ion-input [(ngModel)]="email" name="email"   type="email"  placeholder=" Correo electrónico" required ></ion-input>
              </div>
            </div>
            <div style="margin-top: 30px;">
              <label for="" style="margin: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Contraseña</label>
            </div>
            <div class="login-1">
              <div>
                <ion-input [(ngModel)]="password" name="password"  type="password" placeholder="Contraseña" required  ></ion-input>
              </div>
            </div>
            <div class="boton-si">
              <ion-button  (click)="Login()">iniciar sesion</ion-button>
            </div>
          <div *ngIf="errorMessage" class="error-message" style="color: #FF5C00; margin: 20px;">
            {{ errorMessage }}
          </div>
        
        </nav>

        <div style="margin-left: 95px;">
          <h3 style="color: black; ">Crear Cuenta <button [routerLink]="['/register']" style="margin-top: 20px; color: #FF5C00;"> Registrarse</button></h3>
        </div>
      </ion-card-content>
      </ion-card>
  
    </ion-content>



