<ion-content [fullscreen]="true" class="blannk">
<img  src="https://scontent-scl2-1.xx.fbcdn.net/v/t39.30808-6/351130588_1008982313338382_3465365582263034326_n.png?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHlziJ9HCvB4wPnEmKZULC5eXNP1kVSTUJ5c0_WRVJNQka-tVyCKYonPDIhXS7jype3ENkr5G8Q_6clgM1TV7Xc&_nc_ohc=o-M89Cxdkw4Q7kNvgFEPdW0&_nc_ht=scontent-scl2-1.xx&oh=00_AYBa2Hcs2Z6NZKVDrYQb8t-Pgvg52ELdPoRJW_WSwHM6iA&oe=6662F5FB" alt="" class="seg">
 <img src="https://img.freepik.com/foto-gratis/composicion-flat-lay-pasta_23-2148189907.jpg?size=626&ext=jpg&ga=GA1.1.933601817.1717286400&semt=sph" class="tam">

 <div class="tamano">
  <h2 clas="b">Comienza a hacer pedidos con la app de Uber Eats</h2>
 <ion-button class="color" color="success"(click)="InicSes()"> <b>Continuar</b> </ion-button>
</div>
</ion-content>